@import"header-footer";
body{
    margin: 0;
    padding: 0;
}
main{
    min-height: 71vh;
}
///////////////////////////////////////////
////message erreur de chargement de la page
///////////////////////////////////////////
#error{
    width: 70%;
    border:1px solid #2196f3;
    border-radius: 30px;
    margin: 50px auto 0px auto;
    text-align: center;
    background-color: white;
    p{
        font-size: xx-large;
        font-style: oblique;
    }
    i{
        font-size: xxx-large;
        color: #f44336;
    }
}
//////style produits
//-------------------

.list-product__block{
    width:70%;
    margin: 50px auto;
    padding: 30px;
    display: flex;
    border: 1px solid #2196f3 ;
    border-radius: 30px 0px 30px 30px;
    img{
      width: 500px;
      height: 300px;
    }
    h2{
        font-size: 34px;
        font-style: oblique;
        color: #2196f3;
    }
    p{
        font-size: xx-large;
        font-style: italic;
        color: #2196f3;
    }
}
.list-product__block--right{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto
}
main  a{
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0cf;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#0cf, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
