@import"header-footer";
body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: xx-large;
    color: #f59213ad;
    text-decoration: underline;
    font-style: oblique;
}
.confirmation__button{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn{
    font-size: 26px;
    padding: 10px 40px 10px 40px;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0cf;
        border-radius: 10rem;
        z-index: -2;
    }
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#0cf, 15%);
        transition: all .3s;
        border-radius: 10rem;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &:before {
            width: 100%;
        }
    }
}
.confirmation{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;

    h2{
        font-size: xx-large;
        font-style: italic;
        color: #2196F3;
        margin-top: 0px;
        text-align: center;
    }
    p{
        font-size: 22px;
        color: #009688;
        margin-bottom: 0px;
    }
    span{
        color:#696969;
    }
}
#date{
    padding-left: 160px;
}
#montantTTC{
    padding-left: 50px;
}

@-webkit-keyframes pulse {
    from {
      box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
    }
    to {
      box-shadow: 0 0 0 45px rgba(3, 149, 229, 0);
    }
  }
  
  @keyframes pulse {
    from {
      box-shadow: 0 0 0 0 rgba(3, 149, 229, 0.4);
    }
    to {
      box-shadow: 0 0 0 45px rgba(3, 149, 229, 0);
    }
  }
  .confirmation {
    border: 1px solid #2196f3;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .confirmation:before, .confirmation:after {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    visibility: visible;
    border-radius: 10px;
  }
  .confirmation:before {

    -webkit-transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    transition: width 0.1s ease 0.3s, height 0.1s ease 0.2s, visibility 0s 0.4s;
    top: 0;
    left: 0;
  }
  .confirmation:after {

    bottom: 0;
    right: 0;
    -webkit-transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
    transition: width 0.1s ease 0.1s, height 0.1s ease, visibility 0s 0.2s;
  }
  .confirmation:hover {
    -webkit-animation: pulse 1s ease-out 0.4s;
            animation: pulse 1s ease-out 0.4s;
  }
  .confirmation:hover:before, .confirmation:hover:after {
    width: 110%;
    height: 110%;
    visibility: visible;
  }
  .confirmation:hover:before {
    -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
    transition: width 0.1s ease, height 0.1s ease 0.1s;
  }
  .confirmation:hover:after {
    -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
    transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  }
  